body
    {
        margin: 0;
        padding: 0;
        background-color: #383838;
        height: 100%;
        color: #fff;
    }

    .main
    {
        min-height: calc(100vh - 83px);
        display: flex;
    }

    .logo 
    {
        margin-left: 1.5vw;
        width: 3vw;
        height: 3vw;
    }
    
    
    .navbar 
    {
        width:100%;
        height:10vh;
        background-color: #2d2d2d;
        position: absolute !important;
        margin-top: 0;
        padding-top: 0;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.35);
        z-index: 10;
    }
    
    /* 
    .navbartext 
    {
        float:left; 
        font-family: Montserrat, sans-serif; 
        font-size:50px;
        text-shadow: 4px 4px 8px #FFFFFF;
        position: absolute;
    } 
    */

    .navtext 
    {
        color: #bebebedc !important;
        border: 1px;
        border-radius: 5px;
        text-decoration: none !important;
        transition: all 1.3s ease 0s;
    }

    .nav-item 
    {
        text-align: right;
    }
    
    .links
    {
        padding-right: 3vw;
    }

    a
    {
        font-family: Montserrat, sans-serif;
        font-size: 1.12vw;
        font-weight: bold;
        /* text-shadow: 2px 2px 18px #FFFFFF; */
        background-color: rgba(255, 255, 255, 0);
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    .nohover
    {
        color:inherit !important;
        text-decoration: none !important;
    }

    .nohover:hover
    {
        color:inherit !important
    }

    .navtext:hover, .navtext:active 
    {
        background-color: rgba(255, 0, 0, 0.5);
        border-bottom-color:#330000; 
        border-top-color:#330000;  
        border-left-color:#330000;  
        border-right-color:#330000;
        color: #ffffff !important;
        text-shadow: 3px 3px 12px #FFFFFF;
        animation-name: fadein;
        animation-duration: 2.4s;
        animation-timing-function: ease;
    }

    @keyframes fadein 
    {
        0% {background-color: rgba(255, 0, 0, 0);}
        35% {background-color: rgba(255, 0, 0, 0.435);}
        100% {background-color: rgba(255, 0, 0, 0.5);}
    }

    .displayvideo
    {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: calc(100vh - 83px);
        box-shadow: 0 3px 20px 20px rgb(0 0 0 / 18%);
        pointer-events: none;
        margin-bottom: 24px;
        background-color: #000000;
        
    }

    @media (min-aspect-ratio: 16 / 9) {
        .displayvideo iframe {
            height: 56.25vw;
        }
      }
    
    .displayvideo iframe {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        transform: translate(-50%,-50%);
        opacity: .40;
    }

    .displayvideo
    {
        position:relative;
        overflow:hidden;
        width:100vw;
        height:100vh;
        box-shadow:0 3px 20px 20px rgba(0,0,0,.18);
        pointer-events:none;
        margin-bottom:24px
    }

    .displayvideo iframe
    {
        position:absolute;
        top:50%;
        left:50%;
        width:100vw;
        height:100vh;
        transform:translate(-50%,-50%);
        opacity:.40;
    }

    @media (min-aspect-ratio: 16/9) {
        .displayvideo iframe {
            /* height = 100 * (9 / 16) = 56.25 */
            height: 56.25vw;
        }
    }
    
    @media (max-aspect-ratio: 16/9) {
        .displayvideo iframe {
            /* width = 100 / (9 / 16) = 177.777777 */
            width: 177.78vh;
        }
    }

    .videotext 
    {
        position: absolute;
        overflow: hidden;
        top:0; left:0; right:0; bottom:0;
        z-index: 5;
        transform: translate(0px, 0vh);
        height: 100vh;
    }

    .introtext 
    {
        position: relative;
        top: 45%;
        transform: translate(0, -50%);
        left: 20vw;
        font-size: 4vw;
        font-family: Montserrat, sans-serif; 
        font-weight: bold;
        color: white;
        z-index: 2;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 35px #fff;
        }
      }

    .introdescription
    {
        position: relative;
        top: 45%;
        transform: translate(0, -50%);
        left: 20vw;
        font-size: 1.5vw;
        font-family: Montserrat, sans-serif; 
        font-weight: bold;
        color: white;
        z-index: 2;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }
    

    .navtext:focus-visible {
        outline: none !important;
    }
    .logo:focus-visible {
        outline: none !important;
    }
