body
    {
        margin: 0;
        padding: 0;
        background-color: #383838;
        height: 100%;
        color: #fff;
    }
    
    .font 
    {
        font-family: Poppin, Montserrat, sans-serif;
    }

    .logo 
    {
        margin-left: 1.5vw;
        width: 3vw;
        height: 3vw;
    }
    
    
    .navbar 
    {
        width:100%;
        height:10vh;
        background-color: #2d2d2d;
        position: absolute !important;
        margin-top: 0;
        padding-top: 0;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.35);
        z-index: 10;
    }
    
    /* 
    .navbartext 
    {
        float:left; 
        font-family: Montserrat, sans-serif; 
        font-size:50px;
        text-shadow: 4px 4px 8px #FFFFFF;
        position: absolute;
    } 
    */

    .navtext 
    {
        color: #bebebedc !important;
        border: 1px;
        border-radius: 5px;
        text-decoration: none !important;
        transition: all 1.3s ease 0s;
    }

    .nav-item 
    {
        text-align: right;
    }
    
    .links
    {
        padding-right: 3vw;
    }

    a
    {
        font-family: Montserrat, sans-serif;
        font-size: 1.12vw;
        font-weight: bold;
        /* text-shadow: 2px 2px 18px #FFFFFF; */
        background-color: rgba(255, 255, 255, 0);
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    .nohover
    {
        color:inherit !important;
        text-decoration: none !important;
    }

    .nohover:hover
    {
        color:inherit !important
    }

    .navtext:hover, .navtext:active 
    {
        background-color: rgba(255, 0, 0, 0.5);
        border-bottom-color:#330000; 
        border-top-color:#330000;  
        border-left-color:#330000;  
        border-right-color:#330000;
        color: #ffffff !important;
        text-shadow: 3px 3px 12px #FFFFFF;
        animation-name: fadein;
        animation-duration: 2.4s;
        animation-timing-function: ease;
    }

    @keyframes fadein 
    {
        0% {background-color: rgba(255, 0, 0, 0);}
        35% {background-color: rgba(255, 0, 0, 0.435);}
        100% {background-color: rgba(255, 0, 0, 0.5);}
    }


    .navtext:focus-visible {
        outline: none !important;
    }
    .logo:focus-visible {
        outline: none !important;
    }