body
    {
        margin: 0;
        padding: 0;
        background-color: #383838;
        height: 100%;
        color: #fff;
    }
    
    .font 
    {
        font-family: Poppin, Montserrat, sans-serif;
    }

    .logo 
    {
        margin-left: 1.5vw;
        width: 3vw;
        height: 3vw;
    }
    
    
    .navbar 
    {
        width:100%;
        height:10vh;
        background-color: #2d2d2d;
        position: absolute !important;
        margin-top: 0;
        padding-top: 0;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.35);
        z-index: 10;
    }

    .navtext 
    {
        color: #bebebedc !important;
        border: 1px;
        border-radius: 5px;
        text-decoration: none !important;
        transition: all 1.3s ease 0s;
    }

    .nav-item 
    {
        text-align: right;
    }
    
    .links
    {
        padding-right: 3vw;
    }

    a
    {
        font-family: Montserrat, sans-serif;
        font-size: 1.12vw;
        font-weight: bold;
        /* text-shadow: 2px 2px 18px #FFFFFF; */
        background-color: rgba(255, 255, 255, 0);
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    .nohover
    {
        color:inherit !important;
        text-decoration: none !important;
    }

    .nohover:hover
    {
        color:inherit !important
    }

    .navtext:hover, .navtext:active 
    {
        background-color: rgba(255, 0, 0, 0.5);
        border-bottom-color:#330000; 
        border-top-color:#330000;  
        border-left-color:#330000;  
        border-right-color:#330000;
        color: #ffffff !important;
        text-shadow: 3px 3px 12px #FFFFFF;
        animation-name: fadein;
        animation-duration: 2.4s;
        animation-timing-function: ease;
    }

    @keyframes fadein 
    {
        0% {background-color: rgba(255, 0, 0, 0);}
        35% {background-color: rgba(255, 0, 0, 0.435);}
        100% {background-color: rgba(255, 0, 0, 0.5);}
    }


    .navtext:focus-visible {
        outline: none !important;
    }
    .logo:focus-visible {
        outline: none !important;
    }
    
    .beginnerlessons
    {
        /* background-color: #3dfff562; */
        translate: 0 10vh;
        padding-bottom: 0vh;
        transition: 1s;
    }

    #beginnerimagecontainer
    {
        /* translate: 0 -10vh; */
        /* background-color: hsla(189, 100%, 58%, 0.255); */
        /* background-color: #ffffff41; */
        z-index: -1;
        width: 100%;
        height: 60vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }

    #beginnerimage
    {
        /* translate: 0 10vh; */
        /* position: absolute; */
        object-fit: cover;
        object-position: 0 35%;
        height: 60vh;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        transition: 1s;
    }

    #beginnerheader 
    {
        position: absolute;
        font-size: 3vw;
        padding-top: 3vh;
        padding-left: 2vw;
        font-weight: 600;
        z-index: 1;
    }

    .beginnerlessons:hover, .beginnerlessons:active
    {
        text-shadow: 0 0 16px #FFFFFF;
        animation-name: beginnerlessontextglow;
        animation-duration: 3.4s;
        animation-timing-function: ease;
        animation: textincrease 3.4 ease;
        font-size: 3.5vw;
    }

    @keyframes beginnerlessontextglow 
    {
        0% {text-shadow: 0 0 0 #000000; font-size: 3vw;}
        35% {text-shadow: 0 0 16px #ffffff83; font-size: 3.15vw;}
        100% {text-shadow: 0 0 16px #FFFFFF; font-size: 3.5vw;}
    }

    @keyframes textincrease
    {
        0% {font-size: 3vw;}
        35% {font-size: 3.2vw;}
        100% {font-size: 3.5vw;}
    }

    .beginnerimage:hover, .beginnerimage:active
    {
        transform: scale(1.3);
        width: 100vw;
        overflow: hidden;
    }

    .beginnerbackground
    {
        position: absolute;
        background-color: hsl(189, 100%, 58%);
        height: 60vh;
        width: 100%;
        padding-bottom: 60vh;
        z-index: -1;
    }

    .intermediatelessons
    {
        /* background-color: #3dfff562; */
        translate: 0 10vh;
        padding-bottom: 0vh;
    }

    #intermediateimagecontainer
    {
        /* translate: 0 -10vh; */
        background-color: #f1ff2b41;
        /* background-color: #ffffff41; */
        z-index: -1;
        width: 100%;
        height: 60vh;
    }

    #intermediateimage
    {
        /* translate: 0 10vh; */
        position: absolute;
        object-fit: cover;
        object-position: 0 35%;
        height: 60vh;
        width: 100%;
        z-index: -1;
    }

    #intermediateheader 
    {
        position: absolute;
        font-size: 3vw;
        padding-top: 3vh;
        padding-left: 2vw;
        font-weight: 600;
        z-index: 1;
    }

    .intermediatelessons:hover, .intermediatelessons:active
    {
        text-shadow: 0 0 16px #FFFFFF;
        animation-name: intermediatelessontextglow;
        animation-duration: 3.4s;
        animation-timing-function: ease;
    }

    @keyframes intermediatelessontextglow 
    {
        0% {text-shadow: 0 0 0 #000000;}
        35% {text-shadow: 0 0 16px #ffffff83;}
        100% {text-shadow: 0 0 16px #FFFFFF;}
    }

    .intermediatebackground
    {
        position: absolute;
        background-color: #f1ff2b41;
        translate: 0 10vh;
        padding-bottom: 60vh;
        z-index: 1;
    }

    .advancedlessons
    {
        /* background-color: #3dfff562; */
        translate: 0 10vh;
        padding-bottom: 0vh;
    }

    #advancedimagecontainer
    {
        /* translate: 0 -10vh; */
        background-color: #ff2b2b41;
        /* background-color: #ffffff41; */
        z-index: -1;
        width: 100%;
        height: 60vh;
    }

    #advancedimage
    {
        /* translate: 0 10vh; */
        position: absolute;
        object-fit: cover;
        object-position: 0 35%;
        height: 60vh;
        width: 100%;
        z-index: -1;
    }

    #advancedheader 
    {
        position: absolute;
        font-size: 3vw;
        padding-top: 3vh;
        padding-left: 2vw;
        font-weight: 600;
        z-index: 1;
    }

    .advancedlessons:hover, .advancedlessons:active
    {
        text-shadow: 0 0 16px #FFFFFF;
        animation-name: advancedlessontextglow;
        animation-duration: 6s;
        animation-timing-function: ease;
    }

    @keyframes advancedlessontextglow 
    {
        0% {text-shadow: 0 0 0 #000000;}
        80% {text-shadow: 0 0 16px #ffffff83;}
        100% {text-shadow: 0 0 16px #FFFFFF;}
    }

    .advancedbackground
    {
        position: absolute;
        background-color: #ff2b2b41;
        translate: 0 10vh;
        padding-bottom: 60vh;
        z-index: 1;
    }
