<HTML>
    <head>
        <title>Lessons</title>
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Amphoran/Amphoran.github.io/main/rod.ico" type="image/x-icon"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="lessons.css">
        <script type="text/javascript" src="scripts.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    </head>

    <body>
        <div class="main">

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="https://github.com/Pleyur/pleyur.github.io/blob/main/rod.png?raw=true">

                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="navbar-collapse collapse" id="navbarsExample03">

                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="navtext" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="navtext" href="lessons.html">Lessons</a>
                        </li>
                        <li class="nav-item">
                            <a class="navtext" href="gamesense.html">Gamesense</a>
                        </li>
                        <li class="nav-item">
                            <a class="navtext" href="about.html">About</a>
                        </li>
                        
                    </ul>
                    
                </div>
                </div>
            </nav>

            <div class="beginnerlessons" onclick="window.location.href='beginner.html';">
                <div class="font sectionheader" id="beginnerheader">
                    Beginner 
                </div>
                <div class="beginnerbackground"></div>
                <div class="beginnerimagecontainer" id="beginnerimagecontainer">
                    <img src="https://raw.githubusercontent.com/Amphoran/Amphoran.github.io/main/lessonsbeginnerimage.png" class="beginnerimage" id="beginnerimage">
                </div>
            </div>

            <div class="intermediatelessons">
                <div class="font sectionheader" id="intermediateheader">
                    Intermediate 
                </div>
                <div class="intermediatebackground"></div>
                <div id="intermediateimagecontainer">
                    <img src="https://raw.githubusercontent.com/Amphoran/Amphoran.github.io/main/lessonsintermediateimage.png" id="intermediateimage">
                </div>
            </div>

            <div class="advancedlessons">
                <div class="font sectionheader" id="advancedheader">
                    Advanced  
                </div>
                <div class="advancedbackground"></div>
                <div id="advancedimagecontainer">
                    <img src="https://raw.githubusercontent.com/Amphoran/Amphoran.github.io/main/lessonsadvancedimage.png" id="advancedimage">
                </div>
            </div>
            


        </div>    

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

            <script>
               
            </script>

    </body>
    </HTML>
