.font 
{
    font-family: Poppin, Montserrat, sans-serif;
}

.containerabsolute
{
    position: absolute;
    font-family: Poppins, Montserrat, sans-serif;
    font-size:1.5vw;
    font-weight: 500;
    /* font-weight: bolder; */
    /* text-shadow: 3px 3px 5px #000000; */
    white-space: nowrap;
    width:100%;
    height:100vh;
    margin-top: 115vh;
    min-width: 10vw;
}

.exampleoverallcontainer
{
    padding-left: 7.5vw !important; 
    padding-right: 7.5vw !important;
}

.examplestext
{
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-size: 1.5vw;
}

.hook
{
    margin-bottom: 3vh;
}

.boxes 
{
    width: 100%;
    height: 8vh;
}

.examplebox
{
    text-align: left;
    padding: 1.85px;
    border: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #19161a;
}

.examplecontainer 
{
    padding: 20px;
    margin-top: 1.5vh !important; 
}

.exampleboxheader 
{
    padding: 20px 10px;
    font-weight: 500;
    font-size: 1.3vw;
    color:#5a5a5a;
    cursor:auto;
}

.exampledropdown 
{
    display: none;
    padding: 0 1.5vw 2vh 1.5vw;
}

.dropdown_arrow {
    left: 20vw;
    top: 2.7vh;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    overflow: visible;
    right: 30px;
    width: 1vw;
    height: 1.97vh;
    transform: rotate(45deg);
}

#examplecontent1

#examplecontent2
{
    margin-bottom: 10vh;
    padding-bottom: 10vh;
}

#examplecontent3

#examplecontent4

#examplecontent5

#examplecontent6

#iframevideo 
{
    width: 100%;
    height: 100vh !important;
    padding-bottom: 100px;
    margin-bottom: 100px; 
}

.w-tapvideo
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}


@media (min-aspect-ratio: 16/9) {
    .displayvideo iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .displayvideo iframe {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}

.dropdown_arrow:focus-visible{
    display: visible;

}

#togglearrow:checked ~ .dropdown_arrow::after {
    display: visible;
}

.exampleboxheadercursoricon 
{
    cursor: pointer;
}

