.font 
{
    font-family: Poppin, Montserrat, sans-serif;
}

.containerabsolute
{
    position: absolute;
    font-family: Poppins, Montserrat, sans-serif;
    font-size:1.5vw;
    font-weight: 500;
    /* font-weight: bolder; */
    /* text-shadow: 3px 3px 5px #000000; */
    white-space: nowrap;
    width:100%;
    height:100vh;
    margin-top: 115vh;
    min-width: 10vw;
}

.exampleoverallcontainer
{
    padding-left: 7.5vw !important; 
    padding-right: 7.5vw !important;
}

.examplestext
{
    margin-top: 4.5vh;
    margin-bottom: 8vh;
}

.hook
{
    margin-bottom: 3vh;
}

.boxes 
{
    width: 100%;
    height: 8vh;
}

.examplebox
{
    text-align: left;
    padding: 1.85px;
    border: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #19161a;
}

.examplecontainer 
{
    padding: 20px;
    margin-top: 1.5vh !important; 
}

.exampleboxheader 
{
    padding: 20px 10px;
    font-size: 1.3vw;
    cursor:auto;
}

.exampledropdown 
{
    display: none;
    padding: 0 1.5vw 2vh 1.5vw;
}

.dropdown_arrow {
    left: 20vw;
    top: 2.7vh;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    overflow: visible;
    right: 30px;
    width: 1vw;
    height: 1.97vh;
    transform: rotate(45deg);
}



.dropdown_arrow:focus-visible{
    display: visible;

}

#togglearrow:checked ~ .dropdown_arrow::after {
    display: visible;
}

.exampleboxheadercursoricon 
{
    cursor: pointer;
}

