.container 
{
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size:0.85vw;
    text-shadow: 3px 3px 5px #414141;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    height:100vh;
    margin-top: 115vh;
    min-width: 10vw;
}
